<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>text wrap</title>
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Nano Coder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">about</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">satyam</a>
          <a class="dropdown-item" href="#">aditya</a>

          <a class="dropdown-item" href="#">akshay</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/contact" tabindex="-1" aria-disabled="true">contact us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
   <form action="/analysed_text" method="get">
  <div class="form-group">


  </div>

  <div class="form-group">
      <label for="exampleFormControlTextarea1"><h1> ENTER YOUR TEXT HERE</h1></label>
    <textarea class="form-control"name="text" id="exampleFormControlTextarea1" rows="6"></textarea>
      <h2>choose one among below</h2>
  </div>
     <div class="custom-control custom-switch">
  <input type="checkbox" name="uppercase" class="custom-control-input" id="customSwitch1">
  <label class="custom-control-label" for="customSwitch1">UPPERCASE</label>
</div>

<div class="custom-control custom-switch">
  <input type="checkbox" name="remove punctuations" class="custom-control-input" id="customSwitch2">
  <label class="custom-control-label" for="customSwitch2">Remove punctuation</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox" name="remove extra line"class="custom-control-input" id="customSwitch3">
  <label class="custom-control-label" for="customSwitch3">Remove extra line</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox"name="space remover" class="custom-control-input" id="customSwitch4">
  <label class="custom-control-label" for="customSwitch4">space remover</label>
</div>
<div class="custom-control custom-switch">
  <input type="checkbox"name="character count" class="custom-control-input"  id="customSwitch5">
  <label class="custom-control-label" for="customSwitch5">Character count</label>
</div>
<button type="submit" class="btn btn-primary btn-lg"><h2>ANALYSE</h2></button>
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>